#banner
	.banner_content
		%h1 NeatDesk 
		%p Live Neat Live Organized.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Oraganize
				%p Consequat sartorial selfies, yuccie gluten-free migas craft beer four loko art party. Iceland sustainable kombucha, health goth cronut celiac shoreditch +1 banh mi chambray ad adaptogen veniam jean shorts. Nostrud gentrify meh, master cleanse freegan aliqua franzen aliquip forage.

#bottom_cta
	.wrapper
	%h2 Go Ahead!
	%br
	%button= link_to "Join Now", new_user_registration_path